body{
    display:flex;
    flex-direction: column;
    margin:0;
}

.header{
    background-color: #1f2937;
}

.Hero{
    font-size: 28px;
    font-weight: 800;
    color: #f9faf8;

}

.heroSecond,
.headerlinks a{
    font-size: 14px;
    color: #e5e7eb;
}

.headerlogo{
    font-size: 24px;
    color: #f9faf8;
}

.heroHeader{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}

.headerlinks{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.headerlinks a{
    text-decoration: none;
}

.heroInfo{
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.hero-text{
    align-self: center;
    margin-right: 20px;
}

.signup{
   background-color: #3882F6;
   border: none;
   border-radius: 8px;
   color:white;
   font-size: 14px;
   font-weight: 600;
   padding: 2px 14px;
}

.infomation-text{
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}

.content1{
    display: flex;
    justify-content: center;
}

.infomation-image{
    display: flex;
    list-style-type: none;
    margin: auto;
    width: 50%;
}

.infomation-image li img{
 margin-left: 30px;
 margin-right: 30px;
 border-radius: 10px;
}

.image-text{
    font-size: 12px;
    color: #1f2937;
}
.quoteSection{
    background-color: #e5e7eb;
    
}

.quote-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding-left: 380px;
    padding-right: 300px;

    
}

.quote{
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author{
    font-weight: 600;
    align-self: flex-end;
}

.callSection{
    background-color: #3882F6;
    width: 800px;
    height: 150px;
    border-radius: 12px;
    align-self: center;
}

.call-container{
    display: flex;
    flex-direction: column;
    margin:20px;
}

.call-to-action{
    color: #f9faf8;
   
}

.call-text{
    color: #e5e7eb;
    margin: 0;
    
}

.call-button{
    align-self: flex-end;
    background-color: #3882F6;
    padding: 2px 8px;
    border-radius: 8px;
    border-width: 1px;
    color: #e5e7eb;
    font-weight: 600;
}